body {font-family: "Lato", sans-serif; height: 100vh;}

.runico{
  color: black;
  background-color: inherit;
  padding: 6px;
}

#Runer{
  display: inherit;
  left: 37%;
  position: relative;
  margin-bottom: 20px;
}

.combine{
  display: flex;

}

#dlt{
  background-color: #2196F3;
  width: max-content;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  left: 50%;
  position: fixed;
  color:#f1f1f1;
  width: 250px;
  text-align: center;
}

#sidebar{
  background: gainsboro;
}

#nav{
  font-size: 20px;
  border-bottom-width: 0px;
  margin-bottom: 10px;
  margin-top: 5px;}

ul{
  list-style-type: none;
  padding-left: 20px;
}

.span-click{
  cursor: pointer;
  user-select: none;
}
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

.caret::before {
  font-family: FontAwesome;
  content: "\f114";
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  content: "\f115";
}

.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}

.Run{
  cursor: pointer;
  /*border: none;*/
  background-color: inherit;
  font-size: 30px;
}

.drag { 
  position: absolute;
  z-index: auto;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
  float: inline-start;
}  

.mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}


.btn-connect{
  border-radius: 100%;
  font-size: 10px;
  padding:5px;
  margin: 4px 4px;
  cursor: pointer;
  background-color: azure;
}

button#in.btn-connect{
  position: absolute;
  left: -11px; 
}

button#out.btn-connect{
  position: absolute;
  right: -11px;
}

.spaceholder{
  padding: 20px;

}

  